/*
Theme Name: Swan Theme
Theme URI:
Description:
Author: Joseph Oxborrow
Author URI: climatejourney.com/web
Template:
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
Text Domain: swan-theme
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Comfortaa');

html, body {
    height: 100%;
    margin: 0;
    line-height: 1.6;
    background-color: #2f2f2f;
    background-image: url('http://swan.climatejourney.com/wp-content/uploads/2018/07/rohingyaCamp.jpg');// url('http://swan.climatejourney.com/wp-content/uploads/2018/07/IMG_3260.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa';
    line-height: 1.2;
}

h2 {
    font-size: 1.8em;
    text-align: center;
}

a {
  text-decoration: none;
}

#da-logo {
    vertical-align: middle;
    height: 40px;
    margin: 10px;
}


//transforming menu icon
.container {
    display: inline-block;
    cursor: pointer;
    width: 120px;
}

.bar1, .bar2, .bar3 {
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin: 6px 17px;
    transition: 0.4s;
    border-radius: 3px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
//end menu icon


.entry-header {
    font-size:300%;
    padding: 100px;
    color: pink;
}

.navigation-top {
    max-width: 100%;
    height: 60px;

}


    #menu-right {
        text-align: center;
        width: 100px;
        line-height: 60px;
        background-color: #EB7753;
        color: white;
        padding: 0 0.5em;
        z-index: 300;
        right: 0;
        height: 60px;
        font-size: 1.25em;
    font-family: 'Comfortaa';

    }

.main-navigation li {
  width: 250px;
  background-color: #143b98;
}

.main-navigation ul {
  border-top: 0;
  background: #143b98;
  height: 1000px;
}



.wrapper {
  display: grid;
  grid-template-columns: 300px;
  width: 300px;
  margin: auto;
  margin-top: 20px;
}


.entry-header {
    display: none;
}

.infoBox {
    width: 300px;
    height: 300px;
    border: 3px solid grey;
    background-color: #e0c9f9;
    text-align: center;
    font-size: 1em;
 // color: $sun;
    margin-bottom: 20px;
    border-radius: 10px;
 // transition: transform 0.5s;
}

.js .main-navigation ul {

    display: contents;
}


#popout {
        z-index: 100;
        position: absolute;
        height: 100%;
        width: 0;
        background: rgb(25, 25, 25);
        background: rgba(25, 25, 25, .9);
        color: white;
        overflow:auto;
        margin-top: 1px;
        top: 0;
        left: 0;
    }



#toggle {
    float: right;
    position: fixed;
    top: 60px;
    right: 45px;
    width: 28px;
    height: 24px;

}

#popout li {
    border-bottom:1px solid #eee;
    padding:20px 0;
    width:100%;
    list-style-type: none;
    background-color: #143b98;
        font-family: 'Comfortaa';
}

#popout li:hover {
    background: #eb7753;
}

#popout li a {
color:#FFF;
text-decoration:none;
width:100%;
}

#popout ul {
    padding: 0;
    margin: 0;
position: relative;
width: 250px;
text-align: center;

}

#popout ul ul {
    height: 0;
    overflow: hidden;
    position: relative;
    top: 20px;
    transition: all .6s ease-in-out;
   display: block;
}

#popout .sub-menu li{
    background: #869bce;

}

#popout .sub-menu li:hover{
    background: #ec9176;
}


#popout ul li:hover > ul {
    height: 265px;
}

#quotes {
    font-style: italic;
    font-size: 0.8em;
    margin: 1em;
    margin-top: 1em;
    display: none;
}
#modal {
  display: none;
  position: fixed;
  z-index: 77;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 0;
}

#content {
    max-width: 740px;
    margin: auto;
    background-color: white;
    position: relative;
    padding: 30px;
    min-height: calc(100vh - 190px);

}


#top-center {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #143b98;
}

#menu-toggle {
  margin-top: 10px;
}

.menu-items {
  margin: 0px;
  color: #fff;
  text-decoration: none;
  list-style-type: none;

}

//footer section

$textOnMenus: #f5f5f5;
$svgSize: 30px;
$footerTopMargin: 16px;
$textHover: #bdbdbd;


.site-footer {
    margin-top: auto;
    min-height: 70px;
    background-color:  #143b98;
    margin: auto;
    max-width: 800px;
    overflow: auto;

    .wrap {
      display: flex;
      justify-content: space-between;

    }

}


#menu-social-media {
  width: 100px;
  float: left;
    margin-left: -1em;
}

#menu-social-media li a {
    margin-top: $footerTopMargin * 1.2;
      display:     inline-block;
      width:       $svgSize;
      height:      $svgSize;
	    fill: $textOnMenus;
}

#mailTo {
    margin-top: $footerTopMargin;
        display:     inline-block;
  width:       $svgSize * 1.2;
	height:      $svgSize * 1.2;
  fill: $textOnMenus;
  float: right;
  margin-right: 1em;
  margin-bottom: 0.8em;
}

#mailTo:hover {
  fill: $textHover;
}

.textwidget {
  font-size: 1em;
  color: $textOnMenus;

    a {
      color: $textOnMenus;
    }
    a:hover {
      color: $textHover;
    }
}

#callTo {
  margin-top: $footerTopMargin;
  margin-left: 1em;
  display: inline-block;

margin: 20px;
}


svg:hover {
  fill: $textHover;
}

//630
